body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}

.nuevoColor{
    background-color: black;
}