body{
    background-color: lightblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    font-size: medium;
    color: #008CBA;
}
button{
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #008CBA;
    color: white;
    margin-top: 20px;
}
