body{
    background-color:bisque ;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
span{
    font-size: 48px;
    margin: 0 20px;
}

button{
    padding: 20px 40px;
    font-size: 40px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}