/* RESET BÁSICO */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* BOTÓN */
button {
padding: 8px 16px;
cursor: pointer;
}

/* CONTENEDOR LISTA */
#contenedor {
margin-top: 20px;
}

/* LOADER CARGANDO */
#cargando {
display: none;
margin-top: 15px;
font-weight: bold;
}

/* ESTADO ERROR */
#error {
  display: none;
  margin-top: 15px;
  color: red;
  font-weight: bold;
}

/* ESTADO ÉXITO */
#exito {
  display: none;
  margin-top: 15px;
  color: green;
  font-weight: bold;
  

}
