body{
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#contenedorPrincipal{
    width: 300px;
    height: auto;
    border: 2px solid navy;
    padding: 20px;
    background-color: white;
    outline: white solid 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2)
}

button{
    padding: 20px 40px;
    font-size: large;
    background-color: lightblue;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2)  ;
}
.item{
    margin: 10px 10px;
    padding: 10px 10px;
    border: 2px solid navy;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2) ;
}
.item:hover{
    background-color: gray;
    color: white;
}